<h1> <%= @track.title %> </h1>
<%= "from #{@track.album.title}" %>
<form action="<%=track_url(@track.id)%>" method="POST">
  <%= authenticity_token %>
  <input type="submit" value="Delete track!"></input>
  <input type="hidden" name="_method" value="DELETE">
</form>
<form action="<%=edit_track_url(@track.id)%>" method="GET">
  <%= authenticity_token %>
  <input type="hidden" name="_method" value="UPDATE">
  <input type="submit" value="Edit track"></input>
</form>
<br><br>
<% if @track.lyrics %>
<br><br>
Lyrics:
<%= @track.lyrics %>
<br><br>
<% end %>
<b>Notes for <%= @track.title %></b>
<br><br>
<% @track.notes.each do |the_note| %>
<%= render 'notes/note', note = the_note %>
<%end%>
<br><br>
<%= render '/notes/form', track: @track %>
<br><br>
<a href="<%=album_url(@track.album_id)%>">Back to album page</a>
