<h2>Add new album for <%= Band.find(params[:band_id]).name %></h2>

<form action="<%= albums_url %>" method="POST">
  <%= authenticity_token %>
  <label for="album_title">Album title:</label>
  <input type="text"
         id="album_title"
         name="album[title]"
         value="<%=@album.title%>">
  <input type="hidden" name="album[band_id]" value="<%=params[:band_id]%>">
  <input type="submit" value="Submit">
</form>
