<h1> Track listing for <%= @album.title %> </h2>
  <form action="<%=album_url(@album.id)%>" method="POST">
    <%= authenticity_token %>
    <input type="submit" value="Delete album!"></input>
    <input type="hidden" name="_method" value="DELETE">
  </form>
  <form action="<%=edit_album_url(@album.id)%>" method="GET">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="UPDATE">
    <input type="submit" value="Edit album"></input>
  </form>
  <br><br>
  Click through to view or add lyrics!
<br>
<% @album.tracks.each do |track| %>
<a href="<%=track_url(track.id)%>"> <%= track.title %> </a>
<br>
<% end %>
<br>
Is something missing? Help our site grow!
<br>
<a href="<%=new_album_track_url(@album.id)%>">
  Add a new track for this album!
</a>
<br><br>
<a href="<%=band_url(@album.band_id)%>">Back to band page</a>
